<div class="row">
    <div class="col-lg-2 ember-logo">
        <img height="128" width="128" src="/assets/images/emberjs.png" alt="" />
    </div>
    <div class="col-lg-10">
        <h3>Welcome to Ember Finances</h3>
        <p>
            Let me introduce the 1000th iteration of my finance application.  I have a tendency to create this application in different 
            technologies because the problem domain is simple and I can focus more time on the technology stack.
        </p>
        <p>
            This version of my finance application uses Ember.js, along with a bunch of other little libraries, 
            to create a client-side web application. 
        </p>
        <p>
            This application is a work in progress but I am going to use it as a vehicle for learning and tinkering.
            With this application I have the freedom to use a lot of technologies that would be a little more difficult to implement
            at my current job.
        </p>
        <p>
            I hope that you can use this application as an example on how to solve a specific set of problems.  And by all means,
            if I am doing something wrong feel free to issue a pull request.  I am always looking for better ways to solve problems.
        </p>
    </div>
</div>
